html {
  font-family: 'Khula', sans-serif;

  -ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;

  background-color: white;
 
}


.button-nav, .button-nav:visited {
	display: inline-block;
	font-size: 1.2em;
	
	padding: 0.3em 1.25em;
	border-radius: 0.2em bold;
	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}


h1{
	
	font-size: 6em;
	margin-bottom: 0;
	font-weight: normal;
}


h2{
	font-size: 3em;
	text-decoration: underline;
}

h3{
	font-size: 1em;
	margin-top: 0;
}

section{
	border: solid gray;
	padding: 2em;
}


body{
	font-family: 'Khula' sans-serif;
}

.in-text-link{
	color: #c5a550;
	font-size: 1.3em;

}

.in-text-link:hover{
	color: #e2d2a7;
}

.in-text-link:active{
	color:#4e4220;
}

.link-btn{
	padding:0.4em;
	color:#c5a550;
	border:0.1em solid #c5a550 ;
	border-radius: 0.3em;
	display:inline-block;
	text-decoration: none;


}

.link-btn:hover{
	color: #897338;
	background-color: #625228;
}

.submit-btn{
	padding: 0.3em 1.25em;
	display: inline-block;
	color: #ffffff;
	background-color: #aa863e; 
}

.submit-btn:hover{
	color: #ffffff;
	background-color: #c5a550; 
}


.reset-btn{
	padding: 0.3em 1.25em;
	display: inline-block;
	color: #ffffff;
	background-color: #aa863e; 
}

.reset-btn:hover{
	color: #ffffff;
	background-color: #c5a550; 
}


.main-navigation-btn:hover, .main-navigation-btn-nav:active, .main-navigation-btn-nav:focus {
	color: #c5a550;
}

.text-input-field{
	font-size: 2em;
	color: #88692b;
}

.head1, .head2, .head3{
	color: gray;
}

.head1{
	font-size: 5em;
}

.head2{
	font-size: 4em;
}

.head3{
	font-size: 3em;
}

p{
	font-size: 1.3em;
	
}

.ul{
	color:grey;
}
li{
	font-size: 1.3em;
	color:#88692b;
}


.navigation{
	margin-left: auto;
	margin-right: auto;
	color: #88692b;
	width: 40%;
	font-size: 1.3em;
}

#navigation_box{
	text-align: center;
}

#num-list {
  width:35em;
  margin:0.5em;
}

#num-list ol {
  color: #aa863e ;
  list-style-type: none;
  font-size: 0.7em;
 
}
 
#num-list ol li {
  position: relative;
  font: normal 2.8em/1.5 'Khula', sans-serif;
  margin-bottom: 2em;
}
 
#num-list li p {
  font: 0.6em/1.5 'Khula', sans-serif;
  padding-left: 3.8em;
  color: grey;
}
 
#num-list span {
  position: absolute;
}

.alert{
  padding:1.3em;
  margin-bottom:1.3em;
  border:0.1em solid transparent;
  border-radius:0.5em;
  width:66%;
}

.alert-success{
  color:green;
  background-color:#C1FFC1;
  border-color:#C5E3BF;

}

.alert-error{
  color:red;
  background-color:#FFE4E1;
  border-color:#FFCCCC;
}