@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

body {
	font-family: "Josefin Slab" serif;
	font-size: 1.2em;
	margin: 0;
	padding:0;
	background: white;
}

/*naviation*/
.nav{
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 50%;
	list-style-type: none;
	text-align:center;
	padding:0;
	border-top:0.1em solid black;
	border-bottom: 0.1em solid black;
 }

.nav ul, li{
	padding:0;
	margin:0;
}

.nav a {
	text-decoration: none;
	color: orange;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
	background-color: white;
	color: green;
}

.nav a.active {
	background-color:lightyellow;
	color:blue;
}

@media screen and (min-width: 40em) {
  .nav li {
    width: 7em;
    border-bottom: none;
    height: 3em;
    line-height: 3em;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
<<<<<<< 93da7de3fb376a52593fb5752fa30c64c97c9753
    margin-right: 0.25em;
  }

=======
  }
>>>>>>> 00e798ef79c29fb4738f9b02478aa38426f18944
