@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

body {
	font-family: "Josefin Slab" serif;
	font-size: 1.2em;
	margin: 0;
	padding:0;
	background: white;
}

.nav{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	list-style-type: none;
	text-align:center;
	padding:0;
	border-top:0.1em solid yellow;
	border-bottom: 0.1em solid yellow;
 
}




.nav li {
	line-height: 2.5em;
	height:2.5em;
	border-bottom:0.1em solid yellow;
}

.nav a {
	text-decoration: none;
	color: orange;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
	background-color: white;
	color: green;
}

.nav a.active {
	background-color:lightyellow;
	color:blue;
}

@media screen and (min-width: 40em) {
  .nav li {
    width: 7em;
    border-bottom: none;
    height: 3em;
    line-height: 3em;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: 0.25em;
  }

