@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600);

/*text stylings*/
body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding:0;
	background: white;
}

footer { 
    display: block;
}


.h-thin{
	font-weight: 300;
}

.paragraph-general{
	margin-left: auto;
	margin-right: auto;
	width:80%;
	text-align: left;

}

.paragraph-wide{
	text-align: left;
}

.underline-wide{
	border-bottom: 0.1em solid gray ;
	width:100%;

}

.text-border{
	border-bottom: 0.1em solid gray ;
}


.content-box{
	text-align: left;
}

.text-input-field, .text-input-field-contact{
	width: 100%;
	padding-bottom: 0.4em;
	padding-right: 0.4em;
}

.text-input-field-contact input{
	width:60%;
}
.text-input-field-msg textarea{
	width:100%;
	margin-bottom: 1em;
}

/*buttons*/

.btn-home-product-detail{
	font-size: 0.8em;
	text-transform: uppercase;
	width:8em;
	padding:1em;
	margin: 0.3em;
	display: inline-block;
	text-align: center;
	width:80%;
	color: #ffffff;
	background-color: #caae61; 
	border:0.1em solid #caae61;
}

.btn-home-product-detail:active{
	background-color: white; 
	border:0.1em solid #caae61;
	color:gray;	
}

.btn-cart, .btn-submit, .btn-review, .btn-login, .btn-signup{
	
	font-size: 0.8em;
	text-transform: uppercase;
	width:8em;
	padding:1em;
	margin: 0.3em;
	display: inline-block;
	text-align: center;
	text-decoration: none;

}
.btn-submit{
	color: #ffffff;
	background-color: #caae61; 
	border:0.1em solid #caae61;
	
}

.btn-submit:hover{
	border:0.1em solid #caae61;
	color: #caae61;
	background-color: white; 
	transition: .3s background-color;

}

.btn-submit:active{
	border:0.1em solid #DDCB9A;
	color: white;
	background-color: #DDCB9A; 
	transition: .3s background-color;

}

.btn-review {
	 border:0.1em solid #3a5d7c;
	 color:#FFF;
	 background-color:#3a5d7c;
	

}

.btn-review:hover {
	border:0.1em solid #3a5d7c;
	color:black;
	background-color:#FFF;
	transition: .3s background-color;
}

.btn-review:active {
	border:0.1em solid #8babc8;
	color:#FFF;
	background-color:#8babc8;
	transition: .3s background-color;
}


.btn-cart{
	border:0.1em solid #7b9e65;
	background-color: #7b9e65;
	color: white;

}

.btn-cart:hover{
	padding:1em;
	display: inline-block;
	border:0.1em solid #9ab589;
	text-align: center;
	background-color:white;
	color: black;
	transition: .3s background-color;
}

.btn-cart:active{
	padding:1em;
	display: inline-block;
	border:0.1em solid #b5c9a8;
	text-align: center;
	background-color:#b5c9a8;
	color:black;
	transition: .3s background-color;

}

.btn-login {
	border:0.1em solid #7b9e65;
	background-color: #7b9e65;
	color: white;
	
	
}

.btn-login:hover {
	padding:1em;
	border:0.1em solid #9ab589;
	text-align: center;
	background-color:white;
	color: black;
	transition: .3s background-color;
}

.btn-login:active {
	padding:1em;
	border:0.1em solid #b5c9a8;
	text-align: center;
	background-color:#b5c9a8;
	color:black;
	transition: .3s background-color;

}

.btn-signup {
	 border:0.1em solid #3a5d7c;
	 color:#FFF;
	 background-color:#3a5d7c;

}

.btn-signup:hover {
	border:0.1em solid #3a5d7c;
	color:black;
	background-color:#FFF;
	transition: .3s background-color;

}

.btn-signup:active {
	border:0.1em solid #8babc8;
	color:#FFF;
	background-color:#8babc8;
	transition: .3s background-color;
}


.header{
	width:100%;	
	text-align: right;


}

.header-content{
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-top: 1em;
	padding-bottom: 1em;
	color:black;
	font-size: 0.8em;
}

.header-item{
	text-decoration: none;
	padding-left: 1em;
	color:black;
	
}

.header-item:hover{
	color:#caae61;
	transition: .3s color;
}



/*site logo*/
.site-logo{
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align: center;

	margin-top: 1em;
}


img{
	height: auto;
	max-width:100%;
}

/*About Page Text Overlay */
p.team-text {
	font-weight:300;
}
.about-img{
	position:relative;
	width:100%;
}

.about-img .about-text {
	position:absolute;
	top:2em;
	right:0em;
	width:80%;
	color:white;
	text-align: left;
}

.about-container .about-text{
	padding:0.5em;
	background-color:rgba(0, 0, 0, 0.5);
}

/*product detail hover*/

.product-img:hover{
	opacity:0.3;
}

/*DETAILS Text for the Products Images */
figure:hover .product-detail-text{
	display: block;
}

figure:active .product-detail-text .product-text {

	color: #B3B3B3;

}

/* DETAILS Text for the EVENTS PAGE IMAGES */
article:hover .product-detail-text {
	display: block;
}

article:active .product-detail-text .product-text {
	color: #B3B3B3;
}


.product-detail-text {
	position:relative;
	width: 100%;
	display: none;


}

.product-detail-text .product-text {
	position:absolute;

	width: 100%;
	color: black;
	text-transform: uppercase;
	font-weight: 600;

	text-align: center;
}

/*navigation*/
.nav{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 80%;
	list-style-type: none;
	text-align:center;
	padding:0;

	border-top: 0.1em solid gray;
 }

.nav .link-active{
	color: #BC9545;
	text-decoration: none;

}

.nav ul{
 	padding: 1em;
 	margin:0;

}

.nav a {
	text-decoration: none;
	color: black;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
	background-color: white;
	color: #e2d2a7;
}

.nav a.active {
	background-color:#e2d2a7;
	color:blue;
}

.nav-phone select{
	width:80%;
	font-size: 1em;
}

.nav-phone-header{
	border-bottom: 0.1em solid gray ;
	width:100%;
}

.breadcrumb{
	text-align: left;
	padding-bottom: 1em;
	border-bottom: 0.1em solid #4C6482;
}

.breadcrumb-text{
	text-decoration: none;
	list-style-type: none;
	padding:0.3em;
	color:#4C6482;
	font-size: 1.3em;
}

.home, .updates, .products, .about{
	border-right: 0.08em solid gray;
}

@media screen and (min-width: 50em) {
	  .nav li {
	    font-size: 1.1em;
	    padding:0 1em 0 1em;

	    display: inline-block;
	  }


	 .nav #user-cart{
	  	font-size: 1em;
	  	font-style: italic;
	  }

	.search-bar{
		margin-left: auto;
		margin-right: auto;
		width:50%;

		margin-top: 2em;

	}

	.nav-phone, .nav-phone-header, .btn-home-product-detail, .checkout-table-phone, .header-item-search-phone{
		display:none;
	}
}

/*product grid __reference from in class examples and material*/


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


[class^='grid-col-'] {
	float: left;
	text-align: center; 
}


.grid-col-2of10 {
	width:25%;
	padding:1em;

}

.grid-col-5of10 {
	width:50%;
	padding:1em;

}


.grid-col-2of10-main{
	width:25%;
	padding:0;
}

.grid-col-2of10-main figure{
	margin:1.5em;
}


@media (max-width: 50em) {

	.grid-col-5of10 {
		width: 100%;
	}

	.grid-col-2of10 {
		width: 100%;
	}

	.grid-col-5of10-cart{
		width: 50%;
		text-align: left;
		border-right: 0.1em solid gray;
		padding:1em;
	}

	.nav, .home-products, .filter-selection, .checkout-table, .header-item-search-normal{
		display:none;
	}

	.nav-phone{
		display: block;
	}

	.content-box{
		text-align: center;
	}
}


.grid:after {
	content: "";
	display: block;
	clear: both;

}

.grid{
	width: 80%;
	margin: 2em auto 2em auto;
	text-align: center;
}


/*news update layout grid*/
.news-events, .img-general{
	margin-left: auto;
	margin-right:auto;
	width:80%;
	text-align: center;
}

.img_news{
	padding:1em 0 1em 0;
}

/*product filter*/

.filter-selection{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: right;
}

.product-filter{
	padding-left: 1em;

}

/*events page*/
.event-detail-text{
	margin-top: 0;
	text-align: left;
}

.event-detail-h{
	margin-bottom: 0.5em;
	font-weight:600;
}


/*product cart*/
.product-cart-name{
	padding:1em;
	width:40%;
}

.product-cart-price, .product-cart-quantity, .product-cart-remove, .product-cart-total{
	text-align: right;
	padding:2em 0em 2em 0em;
}

.product-cart-amount{
	text-align: center;
	padding:2em 0em 2em 0em;
}

.btn-remove{
	text-decoration: none;
	background-color: #61abb6;
	border:0.1em solid #61abb6;
	color: white;
	padding: 0.5em;
}

.btn-remove:hover{
	background-color: white;
	color: #61abb6;
	border:0.1em solid #61abb6;
	transition: .3s background-color;
}

.btn-remove:active{
	background-color:#A0CCD3;
	color: white;
	border:0.1em solid #61abb6;
	transition: .5s background-color;
}


table{
	text-align: left;
}

table tr td {
    border-bottom: 1px solid gray;
}

.checkout-table{
	width:100%;
}

.checkout-nav{
	text-align: right;
}

select{
	padding:0.5em;
	font-family: "Lato", sans-serif;

}



/*billing information css*/

.payment-grid .grid-col-5of10{
	padding:0.2em;

}

.payment-grid .checkout-nav{
  
}

.section {
	border: 0.1em solid gray;
	padding:1.5em;
	margin:0em;
	text-align: left;
}

.section-checkout{
	padding:1.5em;
	margin:0em;
	text-align: left;
	background-color: #f2f2f2;

}

.card-type-container img {
	margin-right:0.4em;
	margin-top:0.25em;
}

.text {
	display: block;
	margin: 0;
	width: 100%;
	font-size: 0.8em;
	outline: none;

	font-family: "Josefin Sans", sans-serif;
	font-size: 1em;
}
  
.text:focus {
	outline: none;
	border: solid 0.3em #969696;
}


.glow-style {
	padding: 0.8em;
	margin-bottom:0.6em;
	border: solid 0.06em #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;

	font-size: 1em;
}

.glow-style:focus,
.glow-style.focus {
	border: solid 0.06em #707070;
	box-shadow: 0 0 0.3em 0.06em #969696;
}


option{
	font-size: 1em;
}
.card-expiration select{
	color: #666;
	width:80%;
	border: none;
	margin: 0 0 0 0;
	padding: 0.4em 0.5em;
	outline: 0.08em solid #dcdcdc; 
}
 
.card-expiration select:focus {
	outline: none;
	border: solid 0.1em #969696;
}
 
.shipping-option-list {
	list-style-type: none;
	padding: 0;
}

.shipping-speed{

	font-size: 0.8em;
}

/*footer*/
#footer-container {
   width:100%;
   height:10%;   /* Height of the footer */
   border-top: 0.1em solid gray;
   text-align: center;
}


#copyright {
	padding:0.08em;
	
	color:gray;
}

#copyright ul li {
	list-style-type: none;
}

img.media-icon {
	opacity:1;
	padding:0.2em;

}

img.media-icon:hover {
   opacity:0.4;
}

.media-icons-container{
	height:3em;
}

.media-icons-container img {
	height:100%;
	width:auto;
}

img.card-icons {
	padding:0.1em;
	
}

img.card-icons:hover {
	opacity:0.4;
}

img.card-icons:active {
	border:0.1em solid #659e67;
	border-radius:0.5em;
}

img.card-icons:focus {
	border: 0.1em solid black;
	border-radius:0.4em;
}

/* LOGIN & SIGNUP PAGES */
p.forgot-pass p a {
	float:left;
	bottom:10em;
	font-weight: 300;
	text-decoration: none;
}

p.forgot-pass a {
	text-decoration: none;
}

p.forgot-pass a:hover {
	text-decoration: none;
	color:#caae61;
	transition: .3s color;
}

p.forgot-pass a:active {
	text-decoration: none;
	color:#e2d2a7;
	transition: .3s color;

}


.Login-Form p {
	font-weight: 300;
	text-decoration: none;
}

.format-right{
	text-align:right;
}

.signup-option-text a {
	text-decoration: none;
}

.signup-option-text a:hover {
	color:#8babc8; 
	transition: .3s color;
}

.signup-option-text a:active {
	color:#3a5d7c;
	transition: .3s color;

}

.login-option a {
	text-decoration:none;

}

.login-option a:hover {
	color:#7b9e65; 
	transition: .3s color;
}

.login-option a:active {
	color:#b5c9a8; 
	transition: .3s color;
}